.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 200px;*/
  padding: 20px;
  margin-bottom: 3px;
  margin-top: 150px;
}

.content-container {
  display: flex;
  align-items: center;
}
.about-me-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #333;
  font-size: 26px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff;
  padding: 10px 20px;
  border: 2px solid #dcd3d3;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.my-image {
  max-width: 230px;
  /*margin-right: 100px;*/
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #a5a4a4;
  border-radius: 7px;
}

.text-container {
  flex: 1;
}

.info {
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
  }
}
@media (max-width: 768px) {
  .about-me {
    padding: 100px;
  }

  .about-me-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .info {
    p {
      font-size: 16px;
      
    }
  }
}
.cv-link {
  text-decoration: none;
  cursor: pointer;
  color:rgb(23, 162, 162);
}

@media (max-width: 480px) {
  .about-me-title {
    font-size: 18px;
  }

  .info {
    p {
      font-size: 14px;
    }
  }
}
