.projects {
  text-align: center;
  margin-top: 250px;
  .title-container {
    display: inline-block;
    background-color: #fff;
    padding: 2px 20px;
    border: 2px solid #dcd3d3;
    border-radius: 9px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-top: 50px;
    height: 60px;
  }

  h1 {
    color: #333;
    font-size: 27px;
    margin-bottom: 100px;
    font-size: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1px 10px;
    
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    
  }

  .project {
    color: #373535;
    width: 230px;
    height: 340px;
    border: 1px solid #b7b3b3;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    max-width: 250px;
    box-shadow: 0 3px 7px rgba(0.2, 0.2, 0.2, 0.3);
    transition: transform 0.7s ease-in-out;
   

    img {
      max-width: 100%;
      height: 200px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      margin: 10px 0;
    }

    p {
      font-size: 15px;
      margin: 10px 0;
    }

    a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      /*color: rgb(3, 79, 160);*/
      color: #373535;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color:#007bff;
      }
    }
  }
  
  .project-tools {
    font-size: 14px;
    /*font-weight: bold;*/
    margin-top: 9px;
  }
}

.project-links-container {
  display: flex;
    gap: 10px;
    justify-content: center;
  }
     .project-links-container a .faGlobe {
       font-size: 21px;
       
     }
  
     .project-links-container a .faGithub {
       font-size: 21px;
       
     }
         .sections-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
           font-size: 15px;
           font-weight: bold;
           color: #333;
           cursor: pointer;
           transition: color 0.3s;
           text-transform: uppercase;
           padding: 0 20px;
           margin: 0 10px;
           font-family: helvetica;
           margin-left: 20px;
           margin-bottom: 70px;
          transition: color 0.3s, box-shadow 0.3s;
          
         }
         
    
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .project {
    width: 100%;
    max-width: none;

    margin-bottom: 20px;
  }
}
